<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="css/landingpage.css">
  <link rel="stylesheet" href="css/main.css">
  <!--bootstrap-->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body id="wholedamnthing">
  <%- include('../partials/header') %>
  <div class="container-fluid" >
    <div class="content-section-a">
      <div class="row">
        <h1 id="teamtitle"><b>Propel! Team</b></h1>
      </div>
      <br>
      <div class="row">
        <div class="col-md-2 col-md-offset-1"><h3>Keith To</h3></div>
        <div class="col-md-2"><h3>Jerry Lee</h3></div>
        <div class="col-md-2"><h3>Tony Estes</h3></div>
        <div class="col-md-2"><h3>Michael Duran</h3></div>
        <div class="col-md-2"><h3>James Coslett</h3></div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-1"><img id="teamimages" src="../assets/images/compresspng/team_pic_keith-min.png"></div>
        <div class="col-md-2"><img id="teamimages" src="../assets/images/compresspng/team_pic_jerry-min.png"></div>
        <div class="col-md-2"><img id="teamimages" src="../assets/images/compresspng/team_pic_tony-min.png"></div>
        <div class="col-md-2"><img id="teamimages" src="../assets/images/compresspng/team_pic_mad-min.png"></div>
        <div class="col-md-2"><img id="teamimages" src="../assets/images/compresspng/team_pic_james-min.png"></div>
      </div>
        <div class="row">
        <div class="col-md-2 col-md-offset-1"><br>Scrum Master, Front End</div>
        <div class="col-md-2"><br>Documentation, Back End, Data</div>
        <div class="col-md-2"><br>OAuth, Presentation</div>
        <div class="col-md-2"><br>Git, Back End, Presentation</div>
        <div class="col-md-2"><br>Design, Front End</div>
      </div>
    </div>
  </div>
</body>
</html>
