/*This css section at the top goes with the landing page template
*/


body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    margin-top: 75px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-color: rgba(255,255,255,0.3);
    background: url("http://greatist.com/sites/default/files/styles/big_share/public/College%20Campus__.jpg?itok=-WOqTbBE") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: inset 0 -255px 680px -10pc rgba(0,0,0,.4),inset 0 153px 136px -85px rgba(0,0,0,.5);
}

.intro-header h1 {
  padding-top: 170px;
  font-size: 100px;
}

.intro-header h3 {
  font-size: 50px;
}

.intro-social-buttons {
  margin-top: 40px;
}

.intro-header::after {
  background: black;
}


footer {
  background-color: black;
}

footer > ul {
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: space-around;
}

.copyrights {
  text-align: center;
}

.copyrights > p {
  margin: 0;
  padding-bottom: 40px;
}


@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}
