*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  padding-top: 50px;
}

a { color: #00B7FF; }

.class-list {
  cursor: pointer;
}
