.navbar-inverse {
    background: black; /* For browsers that do not support gradients */

}

#propellogo{
  padding-top: 10px;
  height: 75px;
  margin-left: 10px;
  float: left;
}

.nav > li > a > img {
  height:30px;
  width:30px;
  display: inline;
  top:-2.5px;
  left: -29.9px;
  margin-top: -3px;
  position:relative;
}

.nav {
  margin-top: 5px;
  margin-right: -130px;
}

.nav > li {
  font-size: 20px;
  text-align: right;
}

.dim {
  opacity: 0.6;
}

.bright {
  color: white;
}

.navbar {
 background-color: rgba(0,0,0,0.6);
 border: none;
}
